<div id="info" class="info">
  <h3>Your profile information:</h3>
  <h3>Username: {{user.username}}</h3>
  <h3>Email: {{user.email}}</h3>
  <h3>Name: {{user.name}}</h3>
  <h3>Pesel: {{user.pesel}}</h3>
</div>
<div fxLayout fxLayoutAlign="center center">
  <h2>   Your reservations:</h2>
  <br>
</div>
<div fxLayout fxLayoutAlign="center center">
  <table mat-table [dataSource]="userReservations" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="reservationDate">
      <th mat-header-cell *matHeaderCellDef> reservationDate </th>
      <td mat-cell *matCellDef="let element"> {{element.reservationDate}} </td>
    </ng-container>

    <ng-container matColumnDef="reservedTo">
      <th mat-header-cell *matHeaderCellDef> reservedTo </th>
      <td mat-cell *matCellDef="let element"> {{element.reservedTo}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="bookTitle">
      <th mat-header-cell *matHeaderCellDef> bookTitle </th>
      <td mat-cell *matCellDef="let element"> {{element.bookTitle}} </td>
    </ng-container>
    <ng-container matColumnDef="bookPublisher">
      <th mat-header-cell *matHeaderCellDef> bookPublisher </th>
      <td mat-cell *matCellDef="let element"> {{element.bookPublisher}} </td>
    </ng-container>
    <ng-container matColumnDef="bookYearOfPublishing">
      <th mat-header-cell *matHeaderCellDef> bookYearOfPublishing </th>
      <td mat-cell *matCellDef="let element"> {{element.bookYearOfPublishing}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
