.image{
  background-image: url("./components/pb.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
    width: 100%;
  height: 84%;
  padding: 20px;
  position: fixed;
}

input#lightswitch {
  position: absolute;
  top: 20px;
  right: 50px;
  opacity: 0;
}
input#lightswitch:checked + .main{
  background: dimgrey;
  color: lightsalmon;
}

input#lightswitch:checked +.mat-form-field-empty.mat-form-field-label {
  color: lightsalmon;
}

.label{
  position: absolute;
  top:15px;
  right: 10px;
  margin: 0px;
}

.label2{
  position: absolute;
  top: 25px;
  right: 80px;
  margin: 0px;

}






