h2 {
  text-align: center;
  text-transform: uppercase;
  font: 60px American Typewriter, serif;
  margin-bottom: 20px;
  color: coral;
}
.headerimage {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  background: url("../3.png");

}


