<br>
<div fxLayout fxLayoutAlign="center center">
  <h2> {{'login'|translate}}  </h2>
  <br>
</div>

<form class="form-container"  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="off" novalidate >

  <mat-form-field>
    <input matInput placeholder="{{'username'|translate}}" formControlName="username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="{{'password'|translate}}" formControlName="password" required >
  </mat-form-field>
  <button class="btn btn-default" mat-button type="submit">{{'logIn'|translate}}</button>
</form>

