@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: lavender;
}

.mat-form-field-empty.mat-form-field-label {
  color: palevioletred;
}
.mat-form-field-underline {
  background-color: palevioletred;
}
