.form-container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
  justify-content: center;
}

.form-container > * {
  width: 50%;
}
table {
  width: 60%;
  margin-bottom: 5%;
}
