<br>
<div fxLayout fxLayoutAlign="center center">
  <h2>   {{'register'|translate}}</h2>
  <br>
</div>
<form class="form-container" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)" novalidate>

  <mat-form-field>
    <input matInput placeholder="{{'username' | translate}}" formControlName="username" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'password'|translate}}" formControlName="password" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'name' |translate}}" formControlName="name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="{{'surname' |translate}}" formControlName="surname" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="pesel" formControlName="pesel" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email" required>
  </mat-form-field>

  <button class="btn btn-default" mat-button type="submit">{{'save'|translate}}</button>
</form>
